<% skills.forEach(skill => { %>

<div class="col-4 col-sm-6 col-md-4 col-xs-12 col-lg-2 ps-2 pe-2 pb-4  ">
  <div class="card ps-4 pe-4">
    <div class="circular-progress w-100 h-100 d-flex flex-column gap-1">
      <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
        <circle cx="50%" cy="50%" r="40%" stroke="<%=skill.color%>28" stroke-width="14" fill="none" />
        <circle
          level="<%=skill.level%>"
          class="circle__skill__progress"
          cx="50%"
          cy="50%"
          r="40%"
          stroke="<%=skill.color %>"
          stroke-width="14"
          fill="none"
        />
        <text x="50" y="60" text-anchor="middle" class="text-style__heading-3"><%= skill.level %>%</text>
      </svg>
      <div class="d-flex flex-column gap-1">
        <div class="progress-value text-style__skill__title"><%= skill.title %></div>
        <div class="progress-value text-style__skill__description "><%= skill.content %></div>
      </div>
    </div>
  </div>
</div>

<% }); %>
