:root {
    --dimention-navigation-width: 0px
}

@media (min-width: 576px) {
    :root {
        --dimention-navigation-width: 0px!important;
    }
}

@media (min-width: 768px) {
    :root {
        --dimention-navigation-width: 70px!important;
    }
}

@media (min-width: 992px) {
    :root {
        --dimention-navigation-width: 70px!important;
    }
}

@media (min-width: 1200px) {
    :root {
        --dimention-navigation-width: 70px!important;
    }
}