@import "fonts.css";

:root {
  font-size: 10px;
}

@media (min-width: 576px) {
  :root {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
}

.text-style__heading-1 {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 4.75rem;
  line-height: 6rem;
  text-align: center;
  color: var(--color__text-title);
  fill: var(--color__text-title);
  text-shadow: -2px 0 var(--color__text-border), 0 2px var(--color__text-border), 2px 0 var(--color__text-border),
    0 -2px var(--color__text-border);
}

.text-style__heading-2 {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 2.625rem;
  text-align: center;
  color: var(--color__text-subheading);
  fill: var(--color__text-subheading);
  text-shadow: -2px 0 var(--color__text-border), 0 2px var(--color__text-border), 2px 0 var(--color__text-border),
    0 -2px var(--color__text-border);
}

.text-style__heading-3 {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 4.5rem;
  text-align: center;
  color: var(--color__text-subheading);
  fill: var(--color__text-subheading);
  text-shadow: -2px 0 var(--color__text-border), 0 2px var(--color__text-border), 2px 0 var(--color__text-border),
    0 -2px var(--color__text-border);
  letter-spacing: -0.035em;
}

.text-style__heading-4 {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  color: var(--color__text-subheading);
  fill: var(--color__text-subheading);
  text-shadow: -1px 0 var(--color__text-border), 0 1px var(--color__text-border), 1px 0 var(--color__text-border),
    0 -1px var(--color__text-border);
}

.text-style__path {
  font-family: "Helvetica", system-ui;
  font-style: italic;
  font-weight: 800;
  font-size: 1.1875rem;
  line-height: 30px;
  text-align: center;
  text-shadow: -1.4px 0 var(--color__text-border), 0 1.4px var(--color__text-border), 1.4px 0 var(--color__text-border),
    0 -1.4px var(--color__text-border);
}

.text-style__content {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--color__text-content);
  text-shadow: -1px 0 var(--color__text-border), 0 1px var(--color__text-border), 1px 0 var(--color__text-border),
    0 -1px var(--color__text-border);
}

.text-style__accent {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--color__primary);
  text-align: center;
  text-shadow: -1px 0 var(--color__text-border), 0 1px var(--color__text-border), 1px 0 var(--color__text-border),
    0 -1px var(--color__text-border);
}
.text-style__skill__title {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 32px;
  letter-spacing: -0.035em;
  text-align: center;
  color: var(--color__text-title);
  text-shadow: -1.4px 0 var(--color__text-border), 0 1.4px var(--color__text-border), 1.4px 0 var(--color__text-border),
    0 -1.4px var(--color__text-border);
}

.text-style__skill__description {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 20px;
  letter-spacing: -0.035em;
  text-align: center;
  flex-grow: 1;
  color: var(--color__text-content);
  text-shadow: -1.4px 0 var(--color__text-border), 0 1.4px var(--color__text-border), 1.4px 0 var(--color__text-border),
    0 -1.4px var(--color__text-border);
}

.text-style__license__title {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3125rem;
  line-height: 32px;
  letter-spacing: -0.035em;
  text-align: center;
  color: var(--color__text-title);
  text-shadow: -1.4px 0 var(--color__text-border), 0 1.4px var(--color__text-border), 1.4px 0 var(--color__text-border),
    0 -1.4px var(--color__text-border);
}

.text-style__license__description__title {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 18px;
  letter-spacing: -0.035em;
  text-align: start;
  color: var(--color__text-title);
  text-shadow: -1.4px 0 var(--color__text-border), 0 1.4px var(--color__text-border), 1.4px 0 var(--color__text-border),
    0 -1.4px var(--color__text-border);
  flex-grow: 1;
}

.text-style__license__description {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 18px;
  letter-spacing: -0.035em;
  text-align: start;
  flex-grow: 1;
  color: var(--color__text-content);
  text-shadow: -1.4px 0 var(--color__text-border), 0 1.4px var(--color__text-border), 1.4px 0 var(--color__text-border),
    0 -1.4px var(--color__text-border);
}

.text-style__timeline__date {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 43px;
  text-align: start;
  color: var(--color__text-content);
  text-shadow: -1px 0 var(--color__text-border), 0 1px var(--color__text-border), 1px 0 var(--color__text-border),
    0 -1px var(--color__text-border);
}

.text-style__contact--title {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 63px;
  text-align: start;
  color: var(--color__text-subheading);
  text-shadow: -2px 0 var(--color__text-border), 0 2px var(--color__text-border), 2px 0 var(--color__text-border),
    0 -2px var(--color__text-border);
  letter-spacing: -0.035em;
}

.text-style__contact--val {
  font-family: "Helvetica", system-ui;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 63px;
  text-align: start;
  text-decoration: underline;
  color: var(--color__text-content);
  text-shadow: -2px 0 var(--color__text-border), 0 2px var(--color__text-border), 2px 0 var(--color__text-border),
    0 -2px var(--color__text-border);
  letter-spacing: -0.035em;
}
