<div id="container__page-about-me__image" class="col-12 col-sm-12 col-md-5 d-flex flex-column position-relative">
  <img src="assets/images/image_profile_main.JPG" alt="profile_image" class="position-absolute" />
  <div id="gradient__main-image" class="position-absolute d-flex flex-column-reverse">
    <div class="h-25 w-100 d-flex justify-content-center flex-column">
      <p class="text-style__heading-1 mb-2 lh-1"><%=name %></p>
      <p class="text-style__content mb-1 text-center"><%=name %></p>
      <p class="text-style__accent mb-4"><%=expertise %></p>
      <div class="w-100 h-25 mb-3 d-flex justify-content-center align-items-center">
        <%if(contact.facebook){%>
        <a href="<%-contact.facebook-%>">
          <img width="30" height="30" src="assets/images/ic_facebook.svg" alt="ic_facebook" class="me-5" />
        </a>
        <%}%> <%if(contact.linkedin){%>
        <a href="<%-contact.linkedin-%>">
          <img width="30" height="30" src="assets/images/ic_linkedin.svg" alt="ic_linkedin" class="me-5" />
        </a>
        <%}%> <%if(contact.github){%>
        <a href="<%-contact.github-%>">
          <img width="30" height="30" src="assets/images/ic_github.svg" alt="ic_github" class="me-5" />
        </a>
        <%}%> <%if(contact.youtube){%>
        <a href="<%-contact.youtube-%>">
          <img width="35" height="35" src="assets/images/ic_youtube.svg" alt="ic_youtube" />
        </a>
        <%}%>
      </div>
    </div>
  </div>
</div>
<div
  id="container__page-about-me__content"
  class="col-12 col-sm-12 col-md-7 h-100 d-flex flex-column ps-5 pe-5 pt-3"
  style=""
>
  <p class="text-style__heading-1 text-start">About me</p>
  <p class="text-style__path text-start">
    <span style="color: var(--color__primary)"
      ><% const birthDate = new Date(birthDateStr); const ageDiffMs = Date.now() - birthDate.getTime(); const ageDate = new
      Date(ageDiffMs); const age = Math.abs(ageDate.getUTCFullYear() - 1970); %><%= age %></span
    >

    <span style="color: var(--color__text-content)">/</span>
    <span style="color: var(--color__primary)"><%= location %></span>
    <span style="color: var(--color__text-content)">/</span>
    <span style="color: var(--color__primary)"><%=jobType %></span>
  </p>
  <p class="text-style__content col-md-11 col-12 col-sm-12"><%-intro%></p>
  <div class="divider"></div>
  <p class="text-style__heading-2 text-start">TOP SKILLS</p>
  <div class="row mt-2">
    <div class="d-flex w-100 flex-wrap" id="container__about-page__skills"></div>
  </div>
</div>
